
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color:rgb(13, 13, 13)
  }
  a.navbar-brand span{
    color: white;
  }
  a.navbar-brand span:hover{
    color: #D4E157;
  }
  .navbar .navbar-nav .nav-link {
    color: white
  }
  .homes:hover {
    padding: -20px;
    color: yellow;
    border-bottom: 1px solid rgb(255, 98, 0);
  }
.btn1{
    background-color: #D4E157;
    color: black;
    padding: 5px;
}
.bg-color{
    background-color: #000000f2;
}
.nav-icon{
    display: flex;
    margin-right: 14px;
    color: white;
}
.user{
    margin-right: 6px;
}
/* heading-section */
.heading{
    color: white;
   
}
.heading button{
    padding: 10px;
    background-color: #D4E157;
}
.heading h1{
    font-size: 5.5rem;
}
.heading p{
    color: gray;
}
.banner-right img
{
    height: 65%;
    float: right;
}

.banner-right {
  @media screen and (max-width: 700px){
display: none;           
  } 
}

  /* card-section */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
  }
  
  .clickable-card {
    font-family: ui-system, sans-serif;
    padding: 1rem;
    background-color: #1a1a1a;
    position: relative;
  }
  .clickable-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  
  .clickable-card a,
  .clickable-card button {
    position: relative;
    z-index: 1;
  }
  
  .clickable-card h2 a {
    position: static;
  }
  
  .clickable-card h2 a::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 1;
    border-radius: 0.5rem;
  }
  .content h4{
    color: white;
  }
  .content p{
    color: gray;
  }
  /* detail-section */
  .heading2 h2{
    color: white;
  }
  .heading2 p{
    color: gray;
  }
.text-block{
    color: white;
}
.text-block h1{
    font-size: 353%;
}
.uptoe{
    margin-left: 20%;
}
.uptos h2{
color: #D4E157;
}
.uptos p{
    color: white;
}
.uptoe h2{
color: #D4E157;
}
.uptoe p{
    color: white;
}
/* card-section */
.card-body{
     background-color:  #000000f2;
}
.card1{
  margin-top: -15%;
}
.card-text p{
    color: white;
}
.card-text span{
    color: gray;
}
.card-body h4{
color: white;
}
.backg{
    background-color: #D4E157;
}
.qoutes i{
    font-size: 370%;
}
@media (max-width:992px) {
    .banner-yellow{
        margin-top: 13%;
        margin-bottom: 13%;
    }
    }
/* watch-display */
.card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card-bodys h5{
    color: white;
}
.card-bodys p{
color: yellow;
}
.watchimg img{
    background-color: #000000f2;
}
  /* footer-section */
  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* footer-end */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: #fff !important;
}
/* animation */
.animaltionl{
  animation-name: example1;
  animation-duration: 3s;  
  animation-delay: 1s;
  animation-fill-mode: both;
}
@keyframes example1 {
  from {opacity: 0.1; }
  to { opacity: 0.6; }
}
.animation2{
  animation-name: example2;
  animation-duration: 3s;  
  animation-delay: 1s;
  animation-fill-mode: both;
}
@keyframes example2 {
  from {opacity: 0.1; }
  to { opacity: 0.6; }
}
.animation3{
  animation-name: example3;
  animation-duration: 3s;  
  animation-delay: 1s;
  animation-fill-mode: both;
}
@keyframes example3 {
  from {opacity: 0.1; }
  to { opacity: 0.6; }
}